version: '3.8'
services:
  mysql-container:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: root
    ports:
      - "3306:3306"

  spring-boot-app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - mysql-container
